@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ประเภทสินค้า";
}
@model ICollection<Category>
<h1>แสดงรายการประเภทสินค้า</h1>
<a class="btn btn-primary btn-lg" asp-action="Create">เพิ่มประเภทสินค้า</a>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">ชื่อประเภทสินค้า</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cat in Model)
    {
        <tr>
            <th scope="row">@cat.CategoryID</th>
            <td>@cat.CategoryName</td>
        </tr>
    }
    </tbody>
</table>