@model IEnumerable<ICTWebApp.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>เจ้าหน้าที่</h1>

<p>
    <a asp-action="Create">เพิ่มข้อมูล</a>
</p>
<table class="table" id="tbldata">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>เครื่องมือ</th>
        </tr>
    </thead>
</table>
@section Scripts
{
    <script src="js/staff.js"></script>
}
